extend ./components/global/_global.pug
block head
	- const SEE_HEADER = true
	- const SEE_FOOTER = true
	//- link(rel="stylesheet" href=require("../sass/index/style.scss"))
	link(rel="stylesheet" href=require("@styles/style.scss"))
	//- link(rel="stylesheet" href=require("../sass/index/tablet.scss") media="screen and (min-width: 768px)")
	link(rel="stylesheet" href=require("@styles/tablet.scss") media="screen and (min-width: 768px)")
	//- link(rel="stylesheet" href=require("../sass/index/desktop.scss") media="screen and (min-width: 1024px)")
	link(rel="stylesheet" href=require("@styles/desktop.scss") media="screen and (min-width: 1024px)")
	//- link(rel="stylesheet" href=require("../sass/index/dark.scss") media="(prefers-color-scheme: dark)")
	//- link(rel="stylesheet" href=require("../sass/index/dark-tablet.scss") media="(prefers-color-scheme: dark)")
	+titles("Galeed Gutierrez")
block header
	include ./components/header/_header.pug
block main
	main.main
		include ./components/_home.pug
		include ./components/_aboutMe.pug
		include ./components/portfolio/_portfolio.pug
block scripts
	include ./components/scripts/_googleAnalytics.pug
	script(type="module" src=require("../src/index.ts"))
