extend ./components/global/_global.pug
block head
	- const SEE_HEADER = true
	- const SEE_FOOTER = true
	link(rel="stylesheet" href=require("../sass/index/style.scss"))
	link(rel="stylesheet" href=require("../sass/index/tablet.scss") media="screen and (min-width: 768px)")
	link(rel="stylesheet" href=require("../sass/index/desktop.scss") media="screen and (min-width: 1024px)")
	+titles("Galeed Gutierrez")
block header
	include ./components/header/_header.pug
block main
	main.main
		include ./components/_home.pug
		include ./components/_aboutMe.pug
		include ./components/portfolio/_portfolio.pug
block scripts
	include ./components/scripts/_googleAnalytics.pug
	script(type="module" src=require("../src/header.ts"))
	script(type="module" src=require("../src/home.ts"))
	script(type="module" src=require("../src/about-me.ts"))
	script(type="module" src=require("../src/showProjects.ts"))
	script(type="module" src=require("../src/darkMode.ts"))
