mixin titles(title)
    title=title

mixin style-head(style)
    link(rel="stylesheet" href="../css/"+style)

mixin style-head-responsive(stylesResponsive, screen)
    link(rel="stylesheet" href="../css/"+stylesResponsive media="screen and (min-width:" +screen+"px)")

mixin img(idImg, classImg, altImg, srcImg)
    figure(id!=attributes.id ,class!=attributes.class)
        img(id=idImg, class=classImg, src="https://drive.google.com/uc?id="+srcImg,alt=altImg)

mixin imgXD(idImg, classImg, altImg, srcImg)
    figure(id!=attributes.id ,class!=attributes.class)
        img(id=idImg, class=classImg, src=srcImg,alt=altImg)

mixin elements-menu-header(hrefA, idA, sectionMenu, valueInput, idInput)
    ul.nav__ul-container
        li.nav__li
            label(for="headerMenu").nav__label
                input(type="radio", name="headerMenu" value=valueInput id=idInput).nav__input-radio
                a(id=idA, href=hrefA).nav__a= sectionMenu

mixin header-options(idImg1, classImg1, altImg1, srcImg1, idImg2, classImg2, altImg2, srcImg2)
    +img(idImg1, classImg1, altImg1, srcImg1).themes__icons
    label(for="").options__switch-container
        input(type="checkbox", name="", class="options__switch-input")
        .options__switch-circle
        .options__switch-slider
    +img(idImg2, classImg2, altImg2, srcImg2).themes__icons
