mixin titles(title)
	title=title

mixin style-head(style)
	link(rel="stylesheet" href=require(style))

mixin style-head-responsive(stylesResponsive, screen)
	link(rel="stylesheet" href="../css/"+stylesResponsive media="screen and (min-width:" +screen+"px)")

mixin img(idImg, classImg, altImg, srcImg)
	figure(id!=attributes.id ,class!=attributes.class)
		img(id=idImg, class=classImg, src=srcImg, alt=altImg loading="lazy")

mixin elements-menu-header(hrefA, idA, sectionMenu, valueInput, idInput)
	ul.g-header__ul-container
		li
			label(for="headerMenu").g-header__label
				input(type="radio" name="headerMenu" value=valueInput id=idInput).g-header__input-radio
				a(id=idA, href=hrefA).g-header__a= sectionMenu

mixin header-options(idInput, idImg1, classImg1, altImg1, srcImg1, idImg2, classImg2, altImg2, srcImg2)
	+img(idImg1, classImg1, altImg1, srcImg1).a-theme-icon
	label(for="switch").m-switch-container
		input.m-switch__input(type="checkbox" name="switch", id=idInput)
		.m-switch__circle
		.m-switch__slider
	+img(idImg2, classImg2, altImg2, srcImg2).a-theme-icon

mixin social-media
	a(href="https://www.facebook.com/galeedgutierrez" aria-label="Facebook" target="_blank")
		i.icon-facebook.social-media__icons
	a(href="https://www.instagram.com/galeedgutierrez/" aria-label="Instagram" target="_blank")
		i.icon-instagram.social-media__icons
	a(href="https://twitter.com/GutierrezGaleed" aria-label="Twitter" target="_blank")
		i.icon-twitter.social-media__icons
	a(href="https://github.com/GaleedGutierrez" aria-label="Github" target="_blank")
		i.icon-github.social-media__icons
	a(href="https://www.linkedin.com/in/galeedgutierrez" aria-label="Linkedin" target="_blank")
		i.icon-linkedin2.social-media__icons
