extend ../settings/_global.pug
block head
	- const SEE_HEADER = true
	- const SEE_FOOTER = true
	link(rel="stylesheet" href=require("@styles/projects/style.scss"))
	link(rel="stylesheet" href=require("@styles/projects/tablet.scss") media="screen and (min-width: 768px)")
	link(rel="stylesheet" href=require("@styles/projects/desktop.scss") media="screen and (min-width: 1024px)")
	title Proyectos
block header
	include ./organisms/header/_headerPorfolio.pug
block main
	main.main
		include ./organisms/portfolio/_portfolioProjects.pug
block scripts
	include ../organisms/scripts/_googleAnalytics.pug
	script(type="module" src=require("../../src/headerPorfolio.ts"))
	script(type="module" src=require("../../src/showProjectsPorfolio.ts"))
	script(type="module" src=require("../../src/darkModeProjects.ts"))
