extend ../settings/_global.pug
block head
	- const SEE_HEADER = true
	- const SEE_FOOTER = true
	link(rel="stylesheet" href=require("@styles/index/style.scss"))
	link(rel="stylesheet" href=require("@styles/index/tablet.scss") media="screen and (min-width: 768px)")
	link(rel="stylesheet" href=require("@styles/index/desktop.scss") media="screen and (min-width: 1024px)")
	title Galeed Gutierrez
block header
	include ./organisms/header/_header.pug
block main
	main.main
		include ./organisms/home/_home.pug
		include ./organisms/about-me/_aboutMe.pug
		include ./organisms/portfolio/_portfolio.pug
block scripts
	script(src=require("@utils/particles.min.js"))
	script(src=require("@src/index.ts"))
	include ../organisms/scripts/_googleAnalytics.pug
	script(type="application/ld+json").
		{
			"@context": "https://schema.org",
			"@type": "CollectionPage",
			"name": "Galeed Gutierrez",
			"description": "Bienvenido a mi web personal, donde puedes conocer más sobre mí, mis intereses, mis proyectos personales y cómo contactarme. Aquí encontrarás información relevante y actualizada sobre mi perfil profesional.",
			"url": "https://galeedgutierrez.com",
			"author": {
				"@type": "Person",
				"name": "Galeed Gutierrez"
			},
			"mainContentOfPage": {
				"@type": "WebPageElement",
				"cssSelector": "#home"
			},
			"mainEntity": {
				"@type": "ItemList",
				"itemListElement": [
					{
						"@type": "CreativeWork",
						"name": "LEGO",
						"url": "https://galeedgutierrez.com/Curso-Practico-de-Maquetacion-y-Animaciones-con-CSS-2021/dist/"
					},
					{
						"@type": "CreativeWork",
						"name": "100tifi.co",
						"url": "https://galeedgutierrez.com/Curso-de-Single-Page-Application-con-JavaScript-Vanilla-2021/dist/public/index.html"
					},
					{
						"@type": "CreativeWork",
						"name": "Encriptador de texto",
						"url": "https://galeedgutierrez.com/Encriptador-de-texto-Alura-Challenges-ONE-2023/dist/"
					},
					{
						"@type": "CreativeWork",
						"name": "Link in bio",
						"url": "https://galeedgutierrez.com/Curso-de-Introduccion-a-Empaquetadores-Web/webpack/dist/index.html"
					},
					{
						"@type": "CreativeWork",
						"name": "Platziv - Juego Online",
						"url": "https://galeedgutierrez.com/Taller-Practico-de-JavaScript-Crea-tu-Primer-Videojuego-2022/html/index.html"
					},
					{
						"@type": "CreativeWork",
						"name": "Michi App",
						"url": "https://galeedgutierrez.com/Curso-de-Consumo-de-API-REST-con-JavaScript/html/"
					}
				]
			}
		}

